<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="sampleAdder" class="com.modern.process.config.xml.SampleAdder"/>
    <bean id="doBeforeAspect" class="com.modern.process.config.xml.AdderBeforeAspect"/>
    <bean id="doAfterAspect" class="com.modern.process.config.xml.AdderAfterAspect"/>
    <bean id="doAfterReturningAspect" class="com.modern.process.config.xml.AdderAfterReturnAspect"/>
    <bean id="doAfterThrowingAspect" class="com.modern.process.config.xml.AdderAfterThrowAspect"/>
    <bean id="doAroundAspect" class="com.modern.process.config.xml.AdderAroundAspect"/>


    <aop:config>
        <aop:aspect id="aspects" ref="doAroundAspect">
            <aop:pointcut id="pointCutAround"
                          expression="execution(* com.modern.process.config.xml.SampleAdder+.*(..))"/>
            <aop:around method="aroundAdvice" pointcut-ref="pointCutAround"/>
        </aop:aspect>
        <aop:aspect id="aspects" ref="doBeforeAspect">
            <aop:pointcut id="pointCutBefore"
                expression="execution(* com.modern.process.config.xml.SampleAdder+.*(..))"/>
            <aop:before method="beforeAdvice" pointcut-ref="pointCutBefore" />
        </aop:aspect>
        <aop:aspect id="aspects" ref="doAfterAspect">
            <aop:pointcut id="pointCutAfter"
                 expression="execution(* com.modern.process.config.xml.SampleAdder+.*(..))"/>
            <aop:after method="afterAdvice" pointcut-ref="pointCutAfter" />
        </aop:aspect>
        <aop:aspect id="aspects" ref="doAfterReturningAspect">
            <aop:pointcut id="pointCutAfterReturning"
                expression="execution(* com.modern.process.config.xml.SampleAdder+.*(..))"/>
            <aop:after-returning method="afterReturn"
                returning="returnValue" pointcut-ref="pointCutAfterReturning"/>
        </aop:aspect>

        <aop:aspect id="aspects" ref="doAfterThrowingAspect">
            <aop:pointcut id="pointCutAfterThrowing"
                          expression="execution(* com.modern.process.config.xml.SampleAdder+.*(..))"/>
            <aop:after-throwing method="afterThrow"
                 pointcut-ref="pointCutAfterThrowing" throwing="exception"/>
        </aop:aspect>

    </aop:config>
</beans>